.zad1 {
    color: green;
    background-color: aqua;
    font: 14px sans-serif;
}
.zad2 {
    color:blue;
    background-color: palevioletred;
    font: 16px serif;
}
.zad3 {
    color: rgb(203, 206, 25);
    background-color: rgb(44, 48, 48);
    font: 16px italic;
}
.zad4 {
    color: rgb(116, 68, 155);
    background-color: rgb(216, 67, 67);
    font: 18px italic;
}
.zad5 {
    color: rgb(24, 26, 24);
    background-color: rgb(57, 145, 30);
    font: 20px sans-serif;
}
.zad6 {
    color: rgb(79, 149, 206);
    background-color: rgb(63, 9, 134);
    font: 22px serif;
}
.w3c:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.w3c:visited{
    color:red;
    background-color: transparent;
    text-decoration: none;
}
.top:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.top:hover{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
.new{
    background-color: yellow;
}
.nenum{
    background-color: blueviolet;
    margin-left: 20px;
}
.num{
    background-color: aqua;
    margin-left: 50px;
}
li{
    background-color: brown;
    color: green
}
.loc{
    border: 5px #ffa500 solid;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

